<%- include('../includes/head.ejs') %>
<meta http-equiv="refresh" content="2" />

    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body class="mybody">
   <!-- <%- include('../includes/navigation.ejs') %> -->
   <main>
        <div class="container">
            <div class="row row-cols-3">
            
        
        <%if (dataMealCard.length > 0) { %>
            <% for (let dataKitchen of dataMealCard) {  %>
                <div class="card border-info box  mb-3" style="max-width: 18rem;">
                    <div class="card-header boxTitle">Table number <%= dataKitchen.tableNumber %> </div>
                    <div class="card-body">
                      <h5 class="card-title"><%= dataKitchen.MealTitle %></h5>
                      <h5 class="card-title"><%= dataKitchen.MealCount %></h5>
                      <form action="/kitchen-meal" method="POST">
                        <input type="hidden" name="mealId" value="<%= dataKitchen._id%>">
                        <button type="submit"class="btn btn-success">done</button>
                      </form>
                    </div>
                  </div>
            <%}%>
            <%} %>
            <%if (dataMealCard.length <= 0) { %>
                <div class="center-alert-my">
                    <div class="alert alert-primary " role="alert">
                        now you don't have any order
                    </div>
                </div>
            <%} %>
        </div>
        </div>
    </main>
<%- include('../includes/end.ejs') %>