<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="product-form" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-language<% } %>" method="POST">
            <div class="form-control">
                <label for="title">Language</label>
                <input type="text" name="language" id="language" value="<% if (editing) { %><%= language.language %><% } %>">
            </div>
            <div class="form-control">
                <label for="imageUrl">Simple Language</label>
                <input type="text" name="simpleLang" id="simpleLang" value="<% if (editing) { %><%= language.simpleLang %><% } %>">
            </div>
            
            <% if (editing) { %>
                <input type="hidden" value="<%= product.id %>" name="productId">
            <% } %>

            <button class="btn" type="submit"><% if (editing) { %>Update Product<% } else { %>Add Language<% } %></button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>